.notification-popup{
  position: fixed;
  z-index: 99999;
  right: 30px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 490px;
  width: 100%;
  padding: 15px 38px 15px 10px;
  box-shadow: 0 0 9px 6px rgba(44,44,44,.15);
  //opacity: 0;
  //pointer-events: none;
  display: flex;
  //transition: opacity 0.5s ease;
  transition: transform 1s ease;
  align-items: center;
  transform: translateX(100vw);
  @include tablet{
    max-width: 400px;
  }
  @include mobile{
    padding: 10px 38px 10px 10px;
    right: 0px;
    margin-right: 15px;
    margin-left: 15px;


  }
  @media (max-width: 500px) {
    max-width: calc(100% - 30px);
    bottom:20px;
  }
  .popup-title{
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font1);
    margin-bottom: 2px;
    @include mobile{
      font-size: 12px;
      line-height: 16px;
    }
  }
  img{
    width:24px ;
    height: 24px;
    flex-shrink: 0;
    margin-right: 12px;


  }
  .popup-content{
    display: flex;
    flex-direction: column;
    .popup-text{
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      color: #7e8086;
      @include mobile{
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .close-button{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url("../img/icons/close-icon-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
    opacity: 0.9;
    @include mobile{
      width: 25px;
      height: 25px;
    }
  }
  &.success{
    border-left: 3px solid #48AF54;

  }
  &.error{
    border-left: 3px solid #FF002F;

  }
  &.open{
    //opacity: 1;
    //pointer-events: auto;
    transform: translateX(0);
  }
}
